{% load static %}
<!doctype html>
<html>
    <head> 
        <title>My Book Reviews</title>
        <link rel="stylesheet" href={% static "book-reviews.css" %}>
    </head>
    <body>
        <header>
            <div>My Book Reviews</div>
            <nav>
                <a href="{% url "create_review" %}">Create a review</a>
            </nav>
        </header>
        <main>
            {% for review in reviews %}
                <div class="main-page-book-review">
                <img class="book-cover" src="{{ review.cover_image }}">
                <h2 class="book-title">
                    <a href="{% url "review_detail" review.id %}">{{ review.title }}</a>
                </h2>
                <div class="book-rating">{{ review.rating }} stars</div>
                <div class="book-authors">
                {{ review.authors }}
                </div>
                <h3>Summary</h3>
                <p>
                {{ review.summary }}
                </p>
                </div>
            {% endfor %}

            <div class = "main-page-book-review">
                <img class ="book-cover" src="https://mks.io/impractical-python-projects.jpg">
                <h2 class= "book-title"> Impractical Python Projects</h2>
                <div class = "book-rating">4.5 Stars</div>
                <div class = "book-authors">By Lee Vaughan</div>
                <h3>Summary</h3>
                <p>Another book that I'm qulaified to review, since I am approximatley 2% into a coding bootcamp. This book humorously describes insane python code that I have never completed. Given my expereince level, I would definitly recommend this book to my grandmother of 103 years old, who has been coding since 1934, and essentially wrote the book on Python in the first terminal.</p>
            </div>

        </main>
        <footer>
            <div>
                Copyright 2022 by Mark Esposito
            </div>
            <p>
                This is my site that contains all of my book reviews that you can read to see if you'd like the book
            </p>

        </footer>
    </body>
</html>